
div {
  align-content: center;
   text-align: center;
}
#Yes {
   border-left: black;
   border-width: 20px;
   background: grey;
   border-style: inset;
}
#no {
  text-decoration-color: white;
  border-style: groove;
  background-color: silver;
}
